SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SCOPES=read_products,read_inventory,read_locations,read_orders
DATABASE_URL="postgresql://user:password@host:5432/podesk_production?sslmode=require"
